/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      width: 90%;
      height: 100%;
    }
    body {
       background-color: #0F6964;

    }

    header {
        background-color: #205440;
        color: #FFFFFF
        padding-left: 15px;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        margin: 0px 10px 0px 10px;
        font-size: 30px;
        display: block;
        text-align: center;
    }



    nav ul {
        list-style-type: none;
    }
    nav ul li {

        display: inline;
    }
    nav li a {
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: ;
    }


    ul {
      text-align: center;
    }

    img {
      display: block;
      text-align: center;
    }

    .anna-background {
      background-color: #61FFC2
    }
    .bessie-background {
      background-color: #389471
    }

    .allyson-background {
      background-color: #EB9224
    }

    .jordan-background {
      background-color: #367AAB
    }

    .fu {
      float: left;
    }

    .bar{
      float: right;
    }

    .hw{
      width: 400px;
      margin: 25px;
    }

    .hopscotch{
      width: 900px;
    }

    section {
        width: 73%;
        display: inline-block;
    }
    aside {
        width: 17%;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        clear: both;
        display: block;
    }
