body {
	margin: auto;
	vertical-align: center;
	width: 1200px;
	height: 200px;
	background-color: 61FFC2;
	font-family: Times New Roman;
	font-size: 10pt;
	color: white;
}

header {
	color: white;
	background-color: 389471;
	text-align: center;
	font-size: 25pt;
	font-family: AR JULIAN;
	display: block;
}

nav {
	margin: auto;
	background-color: EB9224;
	width: 1200px;
	border-style: double;
	border-color: black;
	border-width: 3px;
	font-weight: heavy;
	font-size: 10pt;
	text-align: center;
}

footer {
	margin: auto;
	vertical-align: center;
	background-color: 367AAB;
	width: 1200px;
	text-align: center;
}

section {
	vertical-align: center;
	width: 1200px;
	font-family: Times New Roman;
	font-size: 10pt;
	text-align: center;
}

.tvtable {
	background-color: purple;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: white;
	text-decoration: none;
}

img {
	width: 600px;
}